In [1]:
import os
import sys
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import pandas as pd
import rasterio

%load_ext autoreload
%autoreload 2
pd.options.mode.chained_assignment = None

In [2]:
## Kluge for now (shouldn't use sys append)
import sys
sys.path.append("/Users/dporter/Documents/Research/Projects/nasa_combined")

from nasa_combined.config import data_dir, data_path, cIce, cAir 

from nasa_combined.custom_funcs import *  # read_DICE_matfile, print_raster

print(data_path)

/Users/dporter/data/Antarctic/ROSETTA/radar

# Read in airborne data

In [6]:
suffix = '.csv'
datafile = 'rosetta_combined'

infile = os.path.join(data_path, 'for_COMBINED', datafile + suffix)
print(infile)

/Users/dporter/data/Antarctic/ROSETTA/radar/for_COMBINED/rosetta_combined.csv

## read in using Pandas and set `unixtime` as index

In [4]:
df = pd.read_csv('../data/processed/test_ROSETTA_combined_twtt.csv')
df.head()

,unixtime,Line,X_EPSG_3031,Y_EPSG_3031,unixtime.1,thickness_dice,rosetta_lidar,rosetta_lidar_wrtgeo,rosetta_lidar_thickness,diff_diceltthick_rsaltthick,dice_thick_bedmapthick,icebase_dice,PickTime
0,2016-12-02 23:52:13,L20,-178255.739629,-460417.119902,1.480723e+09,NaN,166.500472,203.484556,1851.169232,NaN,NaN,NaN,NaN
1,2016-12-02 23:52:14,L20,-178346.076341,-460417.397744,1.480723e+09,NaN,166.328215,203.316570,1849.641012,NaN,NaN,NaN,NaN
2,2016-12-02 23:52:15,L20,-178436.480663,-460417.972846,1.480723e+09,NaN,166.155938,203.148576,1848.112705,NaN,NaN,NaN,NaN
3,2016-12-02 23:52:16,L20,-178526.896118,-460418.579014,1.480723e+09,NaN,165.983822,202.980743,1846.585878,NaN,NaN,NaN,NaN
4,2016-12-02 23:52:17,L20,-178617.232081,-460419.255438,1.480723e+09,NaN,165.812069,202.813272,1845.062336,NaN,NaN,NaN,NaN